body {
    background-color: #23272f;
    font-family: Mont;
    font-weight: 600;
    -webkit-tap-highlight-color: #FFFFFF00;
    -moz-tap-highlight-color: #FFFFFF00;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.main {
    display: flex;
    flex-direction: row;
}

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: black;
}

.main {
    display: flex;
    flex-direction: row;
}

.welcome {
    margin-top: 15px;
    height: 440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/BannerBG3.png);
    background-size: auto;
    font-family: 'Fira Mono', monospace;
    border-radius: 20px;
}

.header-logo {
    cursor: pointer;
    border-radius: 100%;
    width: 60px;
}

.header-text {
    color: #374151;
}


.noidea {
    width: 100%;
}

.footer {
    background-color: #374151;
    border-radius: 20px;
    padding: 15px;
    float: center;
    text-align: center;
    color: white;
}

.button {
    background-color: transparent;
    border: 2px solid #505050;
    color: white;
    padding: 15px;
    margin: 5px 2px 0 2px;
    transition: 0.3s;
    text-align: center;
    width: 100%;
}

.button:hover {
    font-size: 15px;
    background-color: #00000050;
}


.horiz {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}


.devices {
    border-radius: 5px 5px 5px 5px;
}

.donate {
    border-radius: 5px 5px 20px 5px;
}

.src {
    border-radius: 20px 5px 5px 5px;
}

.old-website {
    border-radius: 5px 5px 5px 5px;
}

.maintainers {
    border-radius: 5px 5px 5px 20px;
}

.dwn {
    border-radius: 5px 5px 5px 5px;
}

.tg {
    border-radius: 5px 20px 5px 5px;
}

.dwn {
    width: auto;
}

.go-up {
    border-radius: 100%;
    background-color: #53505f;
    height: auto;
    width: auto;
}

.footer-button {
    color: white;
    text-decoration: none;
}

.back-to-top {
    float: right;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 10px;
    margin-top: -50px;
}

.back-to-top:hover {
    background-color: #555;
}

    header {
        margin-top: 80px;
        border: 5px solid;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 10px;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 20px;
        padding: 15px;
        color: white;
        position: absolute;
        width: auto;
        height: auto;
    }

    .blur {
        align-items: center;
        text-align: center;
        width: 170px;
        height: 90px;
        font-size: 25px;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        color: white;
        padding: 10px;
    }

    .paragraf {
        float: center;
        padding: 20px;
        background-color: #1b1e24;
        border-radius: 20px;
        color: #f6f7f9;
        font-family: 'Fira Mono', monospace;
        font-size: 16px;
        width: auto;
        height: auto;
        word-wrap: normal;
    }

    .blur-description {
        margin-left: 10px;
        align-items: center;
        text-align: center;
        width: 170px;
        height: 90px;
        padding: 10px;
        font-size: 11px;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        color: white;
    }

    .paragraf {
        float: center;
        padding: 20px;
        background-color: #1b1e24;
        border-radius: 20px;
        color: #f6f7f9;
        font-family: 'Fira Mono', monospace;
        font-size: 8px;
        width: auto;
        height: auto;
        word-wrap: normal;
    }
    .team {
        margin-top: 220px;
        border: 5px solid;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 10px;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        color: white;
        position: absolute;
        width: auto;
        height: auto;
    }
    .team-logo {
        border-radius: 100%;
        width: 30px;
        height: 30px;
        margin-left: 7px;
        cursor: pointer;
    }
    
    .sponsors-logo-header {
        border-radius: 100%;
        width: 30px;
        height: 30px;
    }

    @media screen and (max-width: 397px) {
        .team-logo, .sponsors-logo-header {
            width: 29px;
        }
    }
    
    @media screen and (max-width: 386px) {
        .team-logo, .sponsors-logo-header {
            width: 28px;
        }
    }
    
    @media screen and (max-width: 377px) {
        .team-logo, .sponsors-logo-header {
            width: 27px;
        }
    }
    
    @media screen and (max-width: 368px) {
        .team-logo {
            width: 26px;
            height: 29px;
        }
        .sponsors-logo-header {
            width: 26px;
            height: 28px;
        }
    }
    
    @media screen and (max-width: 362px) {
        .team-logo {
            width: 25px;
            height: 27px;
        }
        .sponsors-logo-header {
            width: 26px;
            height: 27px;
        }
    }
    
    @media screen and (max-width: 373px) {
        .blur-description {
            font-size: 10px;
        }
    }

    @media screen and (max-width: 377px) {
        .team-logo, .sponsors-logo-header {
            width: 24px;
            height: fit-content;
        }
    }
    @media screen and (max-width: 345px) {
        .team-logo, .sponsors-logo-header {
            width: 23px;
            height: fit-content;
        }
    }
    